<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
    <link rel='stylesheet' href='/static/style.css'>
    <script src='/static/scripts.js'></script>

    <style>
        .flex-spacer {
            flex-shrink: 2;
            flex-grow: 2;
        }
        
        body {
            max-width: unset;
        }

        html, body {
              overflow-x:hidden 
        } 
    </style>

    {% block styles %}
    {% endblock %}

</head>
<body style="margin: 0;">
    <div style="width: 98vw; height: 100vh; padding: 0; display: flex; flex-direction: row; align-items: space-around;">
        <div class="flex-spacer"></div>
        <div style="{% block max_width %}max-width: 600px;{% endblock %} width:100%; ">
            <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                <nav style="align-self: flex-start;">
                    <a href="/">Home</a>
                    <a style="margin-left: 50px;" href="/uploader">Upload</a>
                </nav>
                <!-- height: 95 to leave room for navigation -->
                <div style="height: 95vh; overflow-y: scroll; width:95%;">
                    {% block content %}
                    {% endblock %}
                </div>            
            </div>

            {% block static_audio_player %}
            <div style="position: absolute; bottom:0;">
                <audio controls src="" id="static-audio-player">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </div>
            {% endblock %}
        </div>
        <div class="flex-spacer"></div>
    </div>
</div>

{% block scripts %}
{% endblock %}    
</body>
