<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
    <link rel='stylesheet' href='/static/style.css'>
    <script src='/static/scripts.js'></script>

    {% block styles %}
    {% endblock %}

</head>
<body style="height: 90vh; overflow-y: scroll;">

<h1>{{ config['APP_NAME'] }}</h1>

<nav>
<a href="/">Home</a>
<a href="/uploader">Upload</a>
</nav>


<div style="height: 90%; overflow-y: scroll;">
    {% block content %}
    {% endblock %}
</div>


{% block scripts %}
{% endblock %}

{% block static_audio_player %}
<div>
    <audio controls src="" id="static-audio-player">
        Your browser does not support the
        <code>audio</code> element.
    </audio>
</div>
{% endblock %}
</body>
