{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript" src="{{ url_for('static', filename='fuzzyset.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tagify.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tagify.polyfills.min.js') }}"></script>
<link href="{{ url_for('static', filename='tagify.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block max_width %}
max-width: 800px;
{% endblock %}

{% block styles %}
<style>
    .form-field {
        margin-bottom: 16px;
    }

    .id-edit-box{
        margin-bottom: 12px;
        border: 1px solid lightgrey;
        padding: 12px;
    }
    .id-edit-box h2{
        margin-top: 0px;
    }

    button {
        background-color: #0076d1;
        color: white;
    }

    button:hover{
        background-color: darkblue;
    }

    .skip-button {
        border: 2px solid #0076d1;
        color: #0076d1;
        background-color: white;
    }

    .clearfix:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
    .clearfix {
        display: inline-block;
    }
    .clearfix {
        display: block;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    function save() {
        const to_submit = [];
        const edited_tracks = document.getElementsByClassName("id-edit-box");

        for (const track of edited_tracks) {
            to_submit.push({
                id: document.querySelector(`#${track.id} .id`).value,
                title: document.querySelector(`#${track.id} .song_name`).value,
                recorded_by: document.querySelector(`#${track.id} .recorder`).value,
                location: document.querySelector(`#${track.id} .location`).value,
                description: document.querySelector(`#${track.id} .description`).value,
                date: document.querySelector(`#${track.id} .date`).value,
                tags: document.querySelector(`#${track.id} .tags`).value,
                partial: document.querySelector(`#${track.id} .partial`).checked,
            })
        }

        fetch(
            '{{ url_for("landing_bp.save_edit") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(to_submit),
            }
        ).then((response) => {
            if (response.ok) {
                document.getElementById('save_status').textContent = "Saved!"
                // window.location.href = '/{{ group.id }}/uploader';
            }
            else {
                document.getElementById('save_status').textContent = response.body;
            }
        });

        return false;
    }

    function apply_to_all() {
        const all_recorder = document.getElementById('all-recorder').value;
        const all_location = document.getElementById('all-location').value;
        const all_date = document.getElementById('all-date').value;
        const all_tags = document.getElementById('all-tags').value;

        if (all_recorder.trim() !== ''){
            for (const elem of document.getElementsByClassName("recorder")) {
                elem.value = all_recorder;
            }
        }

        if (all_location.trim() !== ''){
            for (const elem of document.getElementsByClassName("location")) {
                elem.value = all_location;
            }
        }

        if (all_date.trim() !== ''){
            for (const elem of document.getElementsByClassName("date")) {
                elem.value = all_date;
            }
        }

        if (all_tags.trim() !== ''){
            for (const elem of document.getElementsByClassName("tags")) {
                elem.value = all_tags;
            }
        }
    }
</script>
{% endblock %}

{% block content %}
<datalist id="song_names">
    {% for name in song_names %}
    <option value="{{ name.name }}">{{ name.name }}</option>
    {% endfor %}
</datalist>

<h2>Edit</h2>
{% if ids|length > 1 %}
<div class="apply-to-all">
    <h2>Apply to all</h2>
    <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;">
        <div class="form-field">
            <label for="recorder">Recorded By</label>
            <input id="all-recorder" type="text" name="recorder" placeholder="Louis Armstrong's iPhone"
               >
                <div>
                    <a onclick="document.getElementById('all-recorder').value = 'Wendy\'s Zoom';">Wendy's Zoom</a>,
                    <a onclick="document.getElementById('all-recorder').value = 'Daniel\'s iPhone';">Daniel's iPhone</a>,
                </div>
        </div>

        <div class="form-field">
            <label for="location">Recording location</label>
            <input id="all-location" type="text" name="location" placeholder="Culture Lab">
            <div>
                <a onclick="document.getElementById('all-location').value = 'Culture Lab';">Culture Lab</a>,
                <a onclick="document.getElementById('all-location').value = 'Chez Bushwick';">Chez Bushwick</a>,
                <a onclick="document.getElementById('all-location').value = 'Unknown';">Unknown</a>
            </div>
        </div>

        <div class="form-field">
            <label for="date">Recording Date</label>
            <input id="all-date" type="date" name="date">
        </div>

        <div class="form-field">
            <label for="tags">Tags</label>
            <input id="all-tags" type="text" name="tags">
            <div>
                <a onclick="document.getElementById('all-tags').value += 'Performance, ';">Performance</a>,
                <a onclick="document.getElementById('all-tags').value += 'Mashup, '">Mashup</a>
            </div>
        </div>
    </div>

    <button onclick="apply_to_all();">Apply to all</button>
    <div class="clearfix"></div>
</div>
{% endif %}

<form onsubmit="event.preventDefault(); save();">
    {% for recording in ids %}
    <div id="track_{{ recording.id }}" class="id-edit-box" style="margin-bottom: 24px;">
        <h2>{{ recording.filename|unquote }}</h2>
        <input class="id" value="{{ recording.id }}" type="hidden">
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <div style="flex-basis: 400px; width: 100%; display: flex; flex-direction: column;">
                <label for="song_name">Song Name</label>
                <input
                    name="song_name"
                    list="song_names"
                    class="song_name"
                    fallbackValue="{{ recording.filename|trim }}" 
                    value="{{ recording.title }}"
                >
            </div>

            <div style="display: flex; flex-direction: column; margin-right: auto; max-width: 200px;">
                <label for="partial">Partial</label>
                <input
                    id="partial"
                    type="checkbox"
                    name="partial"
                    class="partial"
                    value="true"
                    autocomplete="off" {# Prevents Firefox from restoring checkbox state on refresh  #}
                    {% if recording['partial'] %}checked{% endif %}
                >
            </div>

            {% if loop.nextitem is defined %}
            <div style="margin-top: 8px; align-self: end;">
                <button type="button" class="skip-button" onclick="document.querySelector('#track_{{ loop.nextitem.id }}').scrollIntoView(); document.querySelector('#track_{{ loop.nextitem.id }} .song_name').focus();">Next -></button>
            </div>
            {% endif %}
        </div>

        <div style="margin-top: 8px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <div style="width: 100%; display: flex; flex-direction: column;">
               
                <label for="tags">Tags</label>
                <input type="text" name="tags" class="tags"  >
            </div>

        </div>
        <div style="display: flex; flex-direction: column; width: 100%;">
            <label for="song_description">Description</label>
            <textarea style="width: 100%; height: 48px;" type="paragraph" class="description"
                placeholder="Experimental run in cut time.">{{ recording.description }}</textarea>
        </div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
            <div class="">
                <label for="recorder">Recorded By</label>
                <input
                    id="recorder"
                    type="text"
                    name="recorder"
                    class="recorder"
                    style="width: 100%;"
                    placeholder="Louis Armstrong's iPhone"
                    value="{{ recording.recorded_by }}"
                >
            </div>

            <div class="" style="width: 100%;">
                <label for="location">Recording Location</label>
                <input id="location" type="text" name="location" class="location" placeholder="Culture Lab" value="{{ recording.location }}" >
            </div>

            <div class="" style="width: 100%;">
                <label for="date">Recording Date</label>
                <input id="date" type="date" name="date" class="date" value="{{ recording.record_date }}">
            </div>
        </div>
    </div>
    {% endfor %}
    <div style="display: flex; flex-direction: column; align-items: end;">
        <button style="margin-left:auto;" type="submit">Save and next</button>
        <div style="color: green; width: fit-content;" id="save_status"></div>
    </div>
    <div class="clearfix"></div>
    <script>
        const SONG_NAMES = [{% for name in song_names %}{{ name[0]|tojson }},{% endfor %}];
        // The DOM element you wish to replace with Tagify
        var tagElements = document.querySelectorAll('input[name=song_name]');
        // initialize Tagify on the above input node reference
        tagElements.forEach(x => new Tagify(x, {
            mode: "select",
            maxItems: 3,
            whitelist: SONG_NAMES,
            transformTag: x => x.value.replace(','),
            originalInputValueFormat: valuesArr => valuesArr.map(item => item.value.replace(',', '')).join(',')
        }))

        const TAGS = ['performance', 'nola', 'preservation hall', 'low quality', 'high quality'];
        // The DOM element you wish to replace with Tagify
        var tagElements = document.querySelectorAll('input[name=tags]');
        // initialize Tagify on the above input node reference
        tagElements.forEach(x => new Tagify(x, {
            whitelist: TAGS,
            transformTag: x => x.value.replace(','),
            originalInputValueFormat: valuesArr => valuesArr.map(item => item.value.replace(',', '')).join(',')
        }))
        
    </script>
</form>

{% endblock %}

{% block static_audio_player %}
{% endblock %}
