{% extends 'base.html' %}

{% block max_width %}
max-width: 800px;
{% endblock %}

{% block styles %}
<style>
    .apply-to-all {
        border-radius: 8px;
        background: lightgray;
        padding: 16px 24px;
        margin-bottom: 12px;
    }
    .apply-to-all h2 {
        margin-top: 0;
    }

    .form-field {
        margin-bottom: 16px;
    }

    .id-edit-box{
        margin-bottom: 12px;
        border: 1px solid lightgrey;
        padding: 12px;
    }
    .id-edit-box h2{
        margin-top: 0px;
    }

    button {
        float: right;
        background-color: #0076d1;
        color: white;
    }

    button:hover{
        background-color: darkblue;
    }

    .skip-button {
        border: 2px solid #0076d1;
        color: #0076d1;
        background-color: white;
    }

    .clearfix:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
    .clearfix {
        display: inline-block;
    }
    .clearfix {
        display: block;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    function save() {
        const to_submit = [];
        const edited_tracks = document.getElementsByClassName("id-edit-box");

        for (const track of edited_tracks) {
            to_submit.push({
                id: document.querySelector(`#${track.id} .id`).value,
                title: document.querySelector(`#${track.id} .song_name`).value,
                recorded_by: document.querySelector(`#${track.id} .recorder`).value,
                location: document.querySelector(`#${track.id} .location`).value,
                description: document.querySelector(`#${track.id} .description`).value,
                date: document.querySelector(`#${track.id} .date`).value,
                tags: document.querySelector(`#${track.id} .tags`).value,
            })
        }

        fetch(
            '/edit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(to_submit),
            }
        );
        return false;
    }

    function apply_to_all() {
        const all_recorder = document.getElementById('all-recorder').value;
        const all_location = document.getElementById('all-location').value;
        const all_date = document.getElementById('all-date').value;
        const all_tags = document.getElementById('all-tags').value;

        for (const elem of document.getElementsByClassName("recorder")) {
            elem.value = all_recorder;
        }

        for (const elem of document.getElementsByClassName("location")) {
            elem.value = all_location;
        }

        for (const elem of document.getElementsByClassName("date")) {
            elem.value = all_date;
        }

        for (const elem of document.getElementsByClassName("tags")) {
            elem.value = all_tags;
        }
    }
</script>
{% endblock %}

{% block content %}
<datalist id="song_names">
    {% for name in song_names %}
    <option value="{{ name.name }}">{{ name.name }}</option>
    {% endfor %}
</datalist>

<div class="apply-to-all">
    <h2>Apply to all Uploaded Recordings</h2>
    <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;">
        <div class="form-field">
            <label for="recorder">Recorded By</label>
            <input id="all-recorder" type="text" name="recorder" placeholder="Louis Armstrong's iPhone"
               >
                <div>
                    <a onclick="document.getElementById('all-recorder').value = 'Wendy\'s Zoom';">Wendy's Zoom</a>,
                    <a onclick="document.getElementById('all-recorder').value = 'Daniel\'s iPhone';">Daniel's iPhone</a>,
                </div>
        </div>

        <div class="form-field">
            <label for="location">Recording location</label>
            <input id="all-location" type="text" name="location" placeholder="Culture Lab">
            <div>
                <a onclick="document.getElementById('all-location').value = 'Culture Lab';">Culture Lab</a>,
                <a onclick="document.getElementById('all-location').value = 'Chez Bushwick';">Chez Bushwick</a>,
                <a onclick="document.getElementById('all-location').value = 'Unknown';">Unknown</a>
            </div>
        </div>

        <div class="form-field">
            <label for="date">Recording Date</label>
            <input id="all-date" type="date" name="date">
        </div>

        <div class="form-field">
            <label for="tags">Tags</label>
            <input id="all-tags" type="text" name="tags">
            <div>
                <a onclick="document.getElementById('all-tags').value += 'Performance, ';">Performance</a>,
                <a onclick="document.getElementById('all-tags').value += 'Partial, ';">Partial</a>,
                <a onclick="document.getElementById('all-tags').value += 'Mashup, '">Mashup</a>
            </div>
        </div>
    </div>

    <button onclick="apply_to_all();">Apply to all</button>
    <div class="clearfix"></div>
</div>

<form onsubmit="event.preventDefault(); save();">
    {% for recording in ids %}
    <div id="track_{{ recording.id }}" class="id-edit-box" style="margin-bottom: 24px;">
        <h2>{{ recording.filename|unquote }}</h2>
        <input class="id" value="{{ recording.id }}" type="hidden">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div class="">
                <label for="song_name">Song Name</label>
                    <input
                        list="song_names"
                        class="song_name"
                        value="{{ recording.title }}"
                    >
            </div>
            <div class="">
                <label for="tags">Tags</label>
                <input type="text" name="tags" class="tags" value="{{ recording.tags }}"  placeholder="sax solo, drum break">
            </div>

            {% if loop.nextitem is defined %}
            <div style="align-self: end;">
                <button class="skip-button" onclick="document.querySelector('#track_{{ loop.nextitem.id }}').scrollIntoView(); document.querySelector('#track_{{ loop.nextitem.id }} .song_name').focus();">Next -></button>
            </div>
            {% endif %}
        </div>
        <div style="width: 100%;">
            <label for="song_description">Description</label>
            <textarea style="width: 100%; height: 48px;" type="paragraph" class="description"
                placeholder="Experimental run in cut time.">{{ recording.description }}</textarea>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div class="">
                <label for="recorder">Recorded By</label>
                <input type="text" name="recorder" class="recorder" placeholder="Louis Armstrong's iPhone" value="{{ recording.recorder }}" >
            </div>

            <div class="">
                <label for="location">Recording Location<label>
                <input type="text" name="location" class="location" placeholder="Culture Lab" value="{{ recording.location }}" >
            </div>
            <div class="">
                <label for="date">Recording Date</label>
                <input type="date" name="date" class="date" value="{{ recording.record_date }}">
            </div>
        </div>
    </div>
    {% endfor %}
    <button type="submit">Save</button>
    <div class="clearfix"></div>
</form>

{% endblock %}

{% block static_audio_player %}
{% endblock %}
