{% extends 'base.html' %}
{% from 'track_block.html' import track_block %}

{% block styles %}
<style>
    .sticky-header {
        position: sticky;
        top: 0;
        background-color: white;
        padding-bottom: 8px;
    }
</style>
{% endblock %}

{% block content %}
<h2>{{ group.name }}</h2>
<p>{{ group.description }}</p>

<div>
    <details>
        <summary>Search by Song Name</summary>
        <ul>
            {% for name, count in song_counts|sort(attribute='1')|reverse %}
            <li><a href="/{{ group.id }}/search?song={{ name }}">{{ count }} - {{ name }}</a></li>
            {% endfor %}
        </ul>
    </details>

    <details>
        <summary>Search by Tag</summary>
        <ul>
            <li><a href="/{{group.id}}/search?tag=performance">Performance</a></li>
            <li><a href="/{{group.id}}/search?tag=holiday">Holiday</a></li>
            <li><a href="/{{group.id}}/search?tag=NOLA 2021">NOLA 2020</a></li>
            <li><a href="/{{group.id}}/search?tag=poor audio">Poor audio</a></li>
            <li><a href="/{{group.id}}/search?tag=questionable title">Possibly incorrect title</a></li>
        </ul>
    </details>
</div>

{% for date, recordings in things|groupby("record_date")|reverse %}
    <h3 id="{{date|trim}}" class="sticky-header">{{ date|trim }}</h3>
    {% for thing in recordings %}
        {{ track_block(thing, group) }}
    {% endfor %}
{% else %}
    <p>No recordings have been uploaded for this group yet! Go jam and then head over to the <a href="/{{group.id}}/uploader">uploader</a>!</p>
{% endfor %}

{% endblock %}
