{% extends 'base.html' %}

{% block content %}
<a href="/">Home</a>
<a href="/uploader">Upload</a>

<h2>Search</h2>

{% for date, recordings in things|groupby("record_date") %}
<h3>{{ date }}</h3>
{% for thing in recordings %}
    <div style="border: 1px solid black; padding: 8px 16px; margin-bottom: 12px;">
        <div style="width: 100%"><a href="/track/{{ thing.filename }}">{{ thing.filename }}</a></div>
        <hr>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
            <div style="font-style: italic;" class="tags">
                {% for tag in thing.tags.split(',') %}
                    <a href="/search?tag={{ tag }}">{{ tag }}</a>,
                {% endfor %}
            </div>
            <div><a href="#date={{ thing.record_date }}">{{ thing.record_date }}</a></div>
        </div>
    </div>
{% endfor %}
{% endfor %}
{% endblock %}
