{% macro track_block(thing, group, show_edit=True) -%}

<div
    id="{{ thing.filename|file_id }}"
    data-trackid="{{thing.filename|file_id}}"
    class="track-block"
    style="border: 1px solid var(--text-muted); padding: 8px 16px; margin-bottom: 12px; border-left: 4px solid {{ thing.record_date|date_to_color }};"
>
    <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
        <div>
            <a style="padding-right: 8px; display: flex; flex-direction: row;" onclick="changeTrack('{{ g.group_id }}/{{ thing.filename }}', wavesurfer)">
                <svg width="24" height="24"><use href="#play" fill="var(--links)" /></svg>
                <span>{% if thing.title != '' %} {{ thing.title }} {% else %} {{ thing.filename|unquote }} {% endif %}</span>
            </a>
            <div style="font-size: 10px;">{{ thing.filename.replace('+', ' ') }}</div>
            <div style="margin: 8px 0;">
                <i>{{ thing.description }}</i>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin-left: auto; height: fit-content;">
                        <a href="{{ url_for('landing_bp.search', raw_group_id=group.id) }}?song={{ thing.title }}" style="border: 1px solid black; padding: 4px 8px; border-radius: 4px;margin-right: 8px;">Search</a>
            <a href="https://audio-manager.s3.amazonaws.com/{{ g.group_id }}/{{thing.filename}}" style="border: 1px solid black; padding: 4px 8px; border-radius: 4px;margin-right: 8px;">⬇️</a>
            {% if show_edit %}
            <a target="_blank" href="{{ url_for('landing_bp.edit', raw_group_id=group.id) }}?filenames={{ thing.filename|file_id }}" style="border: 1px solid black; padding: 4px 8px; border-radius: 4px;">Edit</a>
            {% endif %}
        </div>
    </div>

    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;"
        class="audio-player" id="{{ thing.filename }}">
    </div>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: end;">
        <div style="font-style: italic;" class="tags">
            {% if thing.tags != '' %}
                {% for tag in thing.tags.strip().split(',') %}
                    <a href="{{ url_for('landing_bp.search', raw_group_id=group.id) }}?tag={{ tag|trim }}">{{ tag }}</a>,&nbsp;
                {% endfor %}
            {% endif %}
        </div>
        <div><a href="{{ url_for('landing_bp.home', raw_group_id=group.id) }}#{{ thing.record_date }}">{{ thing.record_date }}</a></div>
    </div>
</div>

{%- endmacro %}
