{% macro track_block(thing, group) -%}

<div style="border: 1px solid black; padding: 8px 16px; margin-bottom: 12px; border-left: 4px solid {{ thing.record_date|date_to_color }};">
    <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
        <div style="max-width: 50%;">
            <a onclick="changeTrack('{{ group.id }}/{{ thing.filename }}', wavesurfer)">
                ▶️ {% if thing.title != '' %} {{ thing.title }} {% else %} {{ thing.filename|unquote }} {% endif %}
            </a>
        </div>
        <div>
            <a href="/{{ group.id }}/search?song={{ thing.title }}" style="border: 1px solid black; padding: 4px 8px; border-radius: 4px;margin-right: 8px;">Search</a>
            <a href="https://audio-manager.s3.amazonaws.com/{{ group.id }}/{{thing.filename}}" style="border: 1px solid black; padding: 4px 8px; border-radius: 4px;margin-right: 8px;">⬇️</a>
            <a target="_blank" href="/{{ group.id }}/edit?filenames={{ thing.filename|file_id }}" style="border: 1px solid black; padding: 4px 8px; border-radius: 4px;">Edit</a>
        </div>
    </div>

    <div>
        <i>{{ thing.description }}</i>
    </div>

    <hr>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;"
        class="audio-player" id="{{ thing.filename }}">
    </div>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
        <div style="font-style: italic;" class="tags">
            {% if thing.tags != '' %}
                {% for tag in thing.tags.strip().split(',') %}
                    <a href="/{{ group.id }}/search?tag={{ tag|trim }}">{{ tag }}</a>,
                {% endfor %}
            {% endif %}
        </div>
        <div><a href="/{{ group.id }}#{{ thing.record_date }}">{{ thing.record_date }}</a></div>
    </div>
</div>

{%- endmacro %}
