{% macro track_block(thing) -%}

<div style="border: 1px solid black; padding: 8px 16px; margin-bottom: 12px;">
    <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
        <a onclick="changeTrack('{{ thing.filename }}')">{{ thing.filename }}</a>
        <div><a target="_blank" href="/track/{{ thing.filename }}">Share</a></div>
    </div>

    <hr>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;"
        class="audio-player" id="{{ thing.filename }}">
        <div>
            <audio controls src="https://audio-manager.s3.amazonaws.com/{{thing.filename}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
        <div style="font-style: italic;" class="tags">
            {% for tag in thing.tags.split(',') %}
            <a href="/search?tag={{ tag }}">{{ tag }}</a>,
            {% endfor %}
        </div>
        <div><a href="#date={{ thing.record_date }}">{{ thing.record_date }}</a></div>
    </div>
</div>

{%- endmacro %}