{% extends "base.html" %}

{% block scripts %}
<link href="https://releases.transloadit.com/uppy/v2.3.2/uppy.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="drag-drop-area"></div>

<script src="https://releases.transloadit.com/uppy/v2.3.2/uppy.min.js"></script>
<script>
    const { AwsS3, ThumbnailGenerator } = window.Uppy;
    
    // The user doesn't want to identify themselves
    let first_upload = true;

    function update_uploader_name_on_first_upload(){
        let name = uppy.getState().meta['uploader-name'];
        document.cookie=`name=${name}`;
        
        if (name === 'anonymous' && first_upload){
            name = prompt("Would you like to associate your name with these files?", "anonymous");
            if (name !== null){
                uppy.setMeta({ 'uploader-name': name });
                document.getElementById('uploader-name').value = name;
                first_upload = false;
            }
            else {
                return false;
            }
        }
    }

    var uppy = new Uppy.Core(
        {
            restrictions: {
                allowedFileTypes: ['.mp3'],
            },
            meta: {
                'uploader-name': "anonymous",
                'group_id': {{ group.id }}
            },
            debug: false
        })
        .use(Uppy.Dashboard, {
            inline: true,
            target: '#drag-drop-area',
            proudlyDisplayPoweredByUppy:false,
        })
        .use(Uppy.ThumbnailGenerator)   
        .use(AwsS3, {
            limit: 2,
            metaFields: ['uploader-name'],
            timeout: 60000, // 1 minute
            companionUrl: '/{{ group.id }}/upload',
            allowMultipleUploadBatches: false
        })

    uppy.on('complete', (result) => {
        console.log('Upload complete! We’ve uploaded these files:', result.successful);
        // When editing files we only refer to them by their unique asset id, so strip out the group id and filename
        // {group_id}/{asset_id}_{filename}
        setTimeout(() =>  window.location.href=`/edit?filenames=${result.successful.map(x => x.meta.key.split('/')[1].split('_')[0]).join(';')}`, 2000);S
    })
</script>
{% endblock %}

{% block static_audio_player %}
{% endblock %}
